---
const {name = "default",body="default", url="default"} = Astro.props;
import TestimonialLeft from "./testimonialRight.astro"
import TestimonialRight from "./testimonialLeft.astro"
---

<div class="flex flex-col border border-[#D4596B] rounded-[32px] w-[1232px] h-[1132px] bg-[#F0CAC9] items-center gap-[32px]">
    <TestimonialLeft name={name}, body={body}, url={url}/>
    <TestimonialRight name={name}, body={body}, url={url}/>
    <TestimonialLeft name={name}, body={body}, url={url}/>
</div>