---
const {name = "default",body="default", url="default"} = Astro.props;
import TestimonialLeft from "./testimonialRight.astro"
import TestimonialRight from "./testimonialLeft.astro"
import TestimonialItem from "./testimonialItem.astro";
---

<section class="m-[15px] w-[900px] h-[500px]">


<div class="flex flex-col border border-[#D4596B] rounded-[32px] bg-[#F0CAC9] items-center gap-[32px] pt-[40px] pr-[104px] pb-[40px] pl-[104px]">
    <TestimonialItem name={name}, body={body}, url={url} order="left"/>
    <TestimonialItem name={name}, body={body}, url={url} order="right"/>
    <TestimonialItem name={name}, body={body}, url={url} order="left"/>
</div>
</section>